<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Bee Driver</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) need to use your camera to scan QR Code and update profile etc.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your location to calculate distance from you to booking location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your location to calculate distance from you to booking location</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<string>$(PRODUCT_NAME) will use your location to calculate distance from you to booking location</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict/>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your location to calculate distance from you to booking location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your location to calculate distance from you to booking location</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your photo library to update your profile picture!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your photo library to update your profile picture!</string>
	<key>UIAppFonts</key>
	<array>
		<string>KhmerOS.ttf</string>
		<string>KhmerOSApsra.ttf</string>
		<string>KhmerOSbattambang.ttf</string>
		<string>KhmerOSbokor.ttf</string>
		<string>KhmerOSclassic.ttf</string>
		<string>KhmerOScontent.ttf</string>
		<string>KhmerOSfasthand.ttf</string>
		<string>KhmerOSfreehand.ttf</string>
		<string>KhmerOSkiensvay.ttf</string>
		<string>KhmerOSmetalchrieng.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Battambang-Bold.ttf</string>
		<string>Battambang-Regular.ttf</string>
		<string>Hanuman.ttf</string>
		<string>Hanumanb.ttf</string>
		<string>Koulen.ttf</string>
		<string>Moul.ttf</string>
		<string>Nokora-Bold.ttf</string>
		<string>Nokora-Regular.ttf</string>
		<string>Siemreap.ttf</string>
		<string>Suwannaphum.ttf</string>
		<string>Content-Bold.ttf</string>
		<string>Content-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreens</key>
	<dict>
		<key>UIDefaultLaunchScreen</key>
		<string></string>
		<key>UILaunchScreenDefinitions</key>
		<array>
			<dict>
				<key>UIImageName</key>
				<string></string>
				<key>UILaunchScreenIdentifier</key>
				<string></string>
			</dict>
		</array>
		<key>UIURLToLaunchScreenAssociations</key>
		<dict/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
