<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622852031542-5danfae6f5vcllia3cbj1rep8mj547up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622852031542-5danfae6f5vcllia3cbj1rep8mj547up</string>
	<key>API_KEY</key>
	<string>AIzaSyAeyT66MeeWQDTSwlMi0weuH6hawwW_TQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>622852031542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mstexpressdriver</string>
	<key>PROJECT_ID</key>
	<string>mstexpress-3de60</string>
	<key>STORAGE_BUCKET</key>
	<string>mstexpress-3de60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622852031542:ios:799fc1fe300ce5fe244497</string>
</dict>
</plist>